h1 {
  font-size: 48px;
}

a {
  color: white;
  font-size: 25px;
  background-color: rgb(255, 81, 0);
  /* border: solid gray 2px; */
  padding: 7px 10px;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(22, 22, 22, 0.4);
}

a:hover {
  text-decoration: none;
  background-color: rgb(236, 152, 41);
}

div {
  width: 300px;
  margin: 0 auto;
}

li {
  text-align: left;
  /* list-style: none; */
}

ul {
  list-style: none;
}

.goals {
  color: #a83103;
  font-weight: bold;
  font-size: larger;
}
