h1 {
  font-size: 48px;
}

a {
  color: white;
  font-size: 20px;
  background-color: rgb(255, 81, 0);
  /* border: solid gray 2px; */
  padding: 7px 10px;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(22, 22, 22, 0.4);
}

a:hover {
  text-decoration: none;
  background-color: rgb(236, 152, 41);
}

div {
  width: 500px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

li p {
  font-style: italic;
  color:rgb(162, 162, 180);
}

main > p {
  color: #a83103;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
}

.highlight-goal {
  font-size: 20px;
  border: 1px solid rgb(255, 115, 0);
  color:rgb(255, 81, 0);
}
